[submodule "configs/vim/dot_janus/vim-colors-solarized"]
	path = configs/vim/dot_janus/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "configs/vim/dot_janus/tabular"]
	path = configs/vim/dot_janus/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "configs/vim/dot_janus/rspec-tools"]
	path = configs/vim/dot_janus/rspec-tools
	url = https://github.com/ajh/vim-rspec-tools.git
[submodule "configs/vim/dot_janus/inflector"]
	path = configs/vim/dot_janus/inflector
	url = https://github.com/ajh/vim-inflector.git
[submodule "configs/vim/dot_janus/misc"]
	path = configs/vim/dot_janus/misc
	url = https://github.com/ajh/vim-misc.git
[submodule "configs/vim/dot_janus/rust"]
	path = configs/vim/dot_janus/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "configs/vim/dot_janus/vim-tmux-navigator"]
	path = configs/vim/dot_janus/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
