[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "submodules/vim-rails"]
	path = submodules/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "submodules/vim-surround"]
	path = submodules/vim-surround
	url = git://github.com/tpope/vim-surround.git
