[submodule "vendor/z"]
	path = vendor/z
	url = https://github.com/rupa/z.git
[submodule "configs/vim/dot_janus/vim-colors-solarized"]
	path = configs/vim/dot_janus/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "configs/vim/dot_janus/tabular"]
	path = configs/vim/dot_janus/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "configs/vim/dot_janus/rspec-tools"]
	path = configs/vim/dot_janus/rspec-tools
	url = git@github.com:ajh/vim-rspec-tools.git
